@import '../../../../shared/styles';

.lesson {
  display: flex;
  width: 720px;
  border-radius: $borderRadiusXL;
  overflow: hidden;
  background-color: $bg_base;
  transition:
    box-shadow 0.3s ease-out,
    transform 0.3s ease-out;

  &:hover {
    box-shadow: 0 4px 24px $bg_shadow;
    transform: translateY(-4px);
  }
}

.lessonImg {
  flex-shrink: 0;
  height: 112px;
  width: 112px;
  -o-object-fit: cover;
  object-fit: cover;
}

.lessonText {
  padding: 16px;
}

.descriptionWrapper {
  display: flex;
}

.lock {
  align-self: center;
  flex-basis: 60px;
  flex-shrink: 0;
  margin-left: auto;
}

.description {
  margin-top: 24px;
}
