@import '../../../../shared/styles';

.inputSelect__content {
  position: relative;
  width: 100%;

  .inputSelectInput {
    height: 72px;
    outline-color: $ctrl_Liberty;
  }

  .iconButton {
    width: 24px;
    border: none;
  }

  .options__list {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 300px;
    margin-top: 10px;
    overflow-y: auto;
    background: $bg_primary;
    border: 1px 0;
    border-radius: $borderRadiusM;
    box-shadow: 0px 0px 20px 0px rgba(40, 43, 48, 0.07);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .list__item {
      padding: 25px 24px;
      color: $text_primary;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $bg_base;

      &:last-child {
        border-bottom: 0px;
      }
    }

    .list__item__wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .list__item:hover {
      background: $bg_blocks;
      color: $text_secondary;
    }

    .list__item:last-child {
      border-radius: 0 0 $borderRadiusM $borderRadiusM;
    }

    .list__item:first-child {
      border-radius: $borderRadiusM $borderRadiusM 0 0;
    }

    .selected {
      background: $bg_blocks;
      color: $text_secondary;
    }
  }
}

.itemContentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemContentColumn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.options_list:hover {
  background: $bg_blocks;
}
