.account-card {
  display: flex;
  background-color: $bg_blocks;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border-radius: 16px;
  gap: 16px;
  &_titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-active {
    background-color: #b0e3ff;
  }
}
