.@{app-prefix}-operation-setup {
  &__limit {
    &__header {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 16px;
    }

    &__main {
      margin-bottom: 32px;

      &__form {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-end;

        &__item {
          flex: 1;
        }

        &__delete {
          margin-bottom: 24px;
        }
      }
    }
  }
}
