.wrapper {
  width: 565px;
  height: 432px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg_base;
  display: flex;
  color: $text_alert;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 323px;
  }
}
