@import '../../shared/styles/index.scss';

.tariffs {
  &__title {
    margin-bottom: 48px;
  }

  &__table-wrapper {
    border: 1px solid #e4e7ea;
    border-radius: $borderRadiusL;
    overflow: hidden;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;

  &__columns {
    width: 295px;
  }

  &__header {
    background-color: $bg_base;
  }

  &__body {
    vertical-align: baseline;
  }
}
