.text {
  margin-bottom: 16px;
}

.personalAccountNitification__items {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .personalAccountNitification__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
