@import '../../shared/styles/index.scss';

.button_container {
  display: flex;
  gap: 24px;
}

.modal {
  padding: 16px;
  border-radius: $borderRadiusL;
  background-color: $bg_primary;
}

.title {
  margin-bottom: 16px;
}
