@import '../../shared/styles/index.scss';

.card {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 32px;
  border-radius: $borderRadiusM;
  background-color: $bg_blocks;
}

.image {
  flex-shrink: 0;
}

.info {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__statuses-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__card-number {
    margin-top: 10px;
    color: $text_secondary;
  }

  &__body {
    margin-top: 20px;
    display: flex;

    align-items: center;
    gap: 60px;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item-text {
    color: $separator;
  }

  &__detail-btn {
    width: max-content;
    margin-top: 31px;
  }
}
