.smsReachInput {
  width: 100%;
}

.smsInputSubtitle {
  margin: 24px 0 24px;
}

.smsInputWrapper {
  display: flex;
  justify-content: left;
  gap: 25px;
}

.smsInput {
  background-color: white;
}

.sendNewCodeButton {
  margin: 8px 0 0;
}

.sendNewCodeText {
  margin: 8px 0 0;
}
