@import '../../shared/styles/index.scss';

.my-card-page {
  width: 1180px;
  margin: 0 auto;

  &__back-btn {
    margin-top: 16px;
  }

  &__current {
    margin-top: 6px;
    font-size: map-get($font-size, L);
    font-weight: map-get($font-weight, SM);
  }
  .cards-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
