@import '../../styles/index.scss';

.tabs {
  width: 100%;
}

.tabContent {
  width: 100%;
}

.tabItem {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  gap: 4px;
  justify-content: center;
  &:active {
    background-color: $bg_blocks;
    color: $ctrl_Liberty;
  }
  &_primary {
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    flex: none;
    padding: 8px 0;
    height: 40px;
  }
  &_secondary {
    font-size: map-get($font-size, M);
    line-height: map-get($line-height, L);
    flex: 1;
    padding: 16px 0;
    height: 66px;
  }
  &_minimalistic {
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    flex: none;
    padding: 4px 16px;
    border-radius: $borderRadiusM;
  }
  &_black {
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    flex: none;
    padding: 16px 0;
    height: 56px;

    :active {
      color: #324361;
      background-color: $bg_blocks;
    }
  }
  &_none {
    display: none;
  }
  &_inactive {
    border-bottom: 3px solid $ctrl_Liberty_secondary;
  }
}

.tabList {
  display: flex;
  width: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0;
  align-items: center;
  font-weight: map-get($font-weight, M);
  &_primary {
    gap: 24px;
    margin: 0 0 16px;
    color: $text_secondary;

    .active {
      color: $ctrl_Liberty;
      border-bottom: 3px solid $ctrl_Liberty;
    }
  }
  &_secondary {
    gap: 0;
    margin: 0 0 32px;
    color: $text_primary;

    .active {
      color: $text_primary;
      border-bottom: 3px solid $ctrl_Liberty;
    }
  }
  &_minimalistic {
    gap: 8px;
    color: $text_secondary;

    .active {
      background-color: $text_action;
      color: $text_white;
    }
  }
  &_black {
    gap: 24px;
    margin: 0 0 16px;
    color: $text_secondary;

    .active {
      color: #324361;
      font-weight: bold;
      border-bottom: 2px solid #324361;
    }
  }
  &_l {
    margin-bottom: 40px;
  }
}
