@import '@/shared/styles/index.scss';

.my-bills-page {
  &__tabs {
    width: auto;
  }
}

.title {
  margin-top: 50px;
}

.list {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.subtitle {
  margin-top: 42px;
}

.infoFrameWrapper {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  margin-bottom: 104px;
}
