.link-back {
    display: flex;
    align-items: center;

    font-size: 15px;
    line-height: 1.3;
    letter-spacing: -0.13px;
    color: #A1A1AA;
}

.link-back-icon {
    display: flex;
    cursor: pointer;
}

.link-back-icon > svg {
    margin-top: 2px;
}

.link-back__title {
    margin: 2px 0 0 2px;
    cursor: pointer;
}
