@import '../../../shared/styles/colors';

.currencyExchange__block {
  display: flex;
  flex-wrap: wrap;

  .currencyExchange__wrapper {
    padding-right: 24px;
  }

  .currencyExchange__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    .item_head {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .item__content {
      padding-top: 16px;
    }
  }

  .currencyExchange__wrapper:not(:first-child) {
    border-left: 1px solid $separator;
    padding-left: 24px;
  }

  .currencyExchange__item_sale {
    display: flex;
    align-items: center;
    gap: 40px;

    .item__content {
      .item__sale {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      .item__text {
        padding-top: 16px;
        color: $text_secondary;
      }
    }
  }
}
