@import '../../../shared/styles/colors';

.currencyConverterContainer {
  margin-top: 48px;
  padding-bottom: 24px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid $separator;
}

.isLast {
  border-bottom: none;
}
