@import '../../../shared/styles/colors';

.currencyExchangeItem_block {
  .currencyExchangeItem_head {
    padding-left: 20px;
  }
}
.button,
.button_pressed {
  font-size: map-get($font-size, 'M');
  line-height: map-get($line-height, 'M');
}
.button_pressed {
  color: $text_primary;
}
