@import '../../../shared/styles';

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  padding: 19px 45px;
  margin-bottom: 40px;
  border-radius: $borderRadiusXL;
  border: 10px solid $bg_base;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.description {
  margin-top: 24px;
}
