@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.ttf) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.ttf) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}