.card {
  display: flex;
  min-height: 250px;
  padding: 14px 25px;
  flex-direction: column;
  background-color: $bg_primary;
  box-shadow: 0 15px 20px #0000000d;
  border-radius: 1rem;
  color: $text_primary;
}

.tags {
  display: flex;
  gap: 16px;
}

.tag {
  display: block;
  width: fit-content;
  padding: 9px 24px;
  background-color: $bg_blocks;
  border-radius: 8px;
  font-size: map-get($font-size, XS);
  font-weight: map-get($font-weight, M);
  color: $text_secondary;
}

.content {
  display: flex;
  gap: 35px;
}

.news {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: map-get($font-size, M);
  font-weight: map-get($font-weight, SB);
  line-height: map-get($line-height, M);
}

.brief {
  font-size: 14px;
  font-weight: map-get($font-weight, R);
  line-height: map-get($line-height, M);
}

.image {
  width: 220px;
  height: 140px;
  margin-top: 9px;
  object-fit: contain;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}
