@import '../../../../shared/styles/rounding';
@import '../../../../shared/styles/colors';

.step-form {
  background-color: $bg_blocks;
  border-radius: $borderRadiusM;
  width: 100%;
  padding: 32px;

  &__step-page-wrapper {
    margin: 31px 0 33px;
    position: relative;
  }

  &__preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttons-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__next-button-wrapper {
    width: 220px;
  }

  &__next-button {
    height: 55px;
    width: 220px;
  }

  &__back-button {
    font-size: 16px;
    color: $text_action;
  }
}
