.@{app-prefix}-step-select-pattern {
  display: flex;
  flex-direction: column;

  &__body {
    flex-grow: 1;
    overflow: auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--ant-component-background);
    z-index: 2;
    border-bottom: 1px solid var(--ant-border-color-base);
    padding: var(--wfm-margin-lg, 24px);
  }

  &__filters-form {
    display: flex;
  }

  &__filters {
    margin-right: var(--wfm-margin-md, 16px);
  }

  &__patterns-list {
    min-height: 150px;
    padding: var(--wfm-margin-lg, 24px);
  }

  &__toolbar {
    display: flex;
    align-items: center;
  
    > *:not(:last-child) {
      margin-right: var(--wfm-margin-md, 16px);
    }
  }

  &__pattern {
    padding: var(--wfm-padding-sm, 12px) var(--wfm-padding-lg, 24px);
    border-radius: 10px;
    display: block;

    &:not(:last-child) {
      margin-bottom: var(--wfm-margin-md, 16px);
    }

    &:hover {
      background-color: var(--ant-primary-1);
    }
  
    &:hover:not(&_active) {
      cursor: pointer;
    }
  
    &:focus-visible {
      border: none;
      outline: none;
    }
  
    &_active {
      background-color: var(--ant-primary-2);
    }
  }

  &__footer {
    border-top: 1px solid var(--ant-border-color-base);
    display: flex;
    justify-content: flex-end;
    padding: var(--wfm-margin-lg, 24px);
  }
}

.ant-mode-dark .@{app-prefix}-step-select-pattern {
  &__pattern {
    &:hover {
      background-color: var(--wfm-black-5, #262626)
    }
  
    &_active {
      background-color: var(--wfm-black-6, #404040);
    }
  }
}
