@import '../../shared/styles/index.scss';

.my-bill-page {
  width: 1180px;
  margin: 0 auto;

  &__back-btn {
    margin-top: 16px;
  }

  &__current {
    display: flex;
    align-items: center;
    max-width: 410px;
    margin-top: 6px;
    a {
      margin: 10px 0px 6px 8px;
      color: $text_primary;
    }
  }
}
