@import '../../shared/styles/index';

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 754px;
  height: auto;
  padding: 40px 39px 30px;
  border-radius: $borderRadiusL;
  background: $bg_base;
  box-shadow: 0 0 20px 0 #282b3012;
}

.description {
  text-align: center;
}

.billsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 315px;
  overflow-y: auto;
}

.billWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  width: 634px;
  height: 56px;
  border: $separator solid 0.5px;
  border-radius: $borderRadiusL;

  .billNumber {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .isMain {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-radius: $borderRadiusML;
    background-color: $ctrl_Liberty;
    color: $text_primary_buttons;
  }
}

.activeBill {
  @extend .billWrapper;
  border: $text_action solid 2px;
}

.doubleBtn {
  display: flex;
  gap: 16px;
  width: 376px;
}
