@import '../../styles/index.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 464px;
  gap: 16px 80px;
  border-radius: $borderRadiusM;

  .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 192px;
    width: 100%;
    gap: 4px;
  }
}

.amount_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.point {
  white-space: nowrap;
  color: $separator;
}

.amount {
  line-height: map-get($line-height, L);
  color: $text_primary;
}
