.schedule {
  margin-bottom: 30px;
  color: $text_grey;
}

.top {
  min-height: 200px;
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

.bottom {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 0 0;
  position: relative;
  border-top: 1px solid $color-separator;
}

.dates {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.values {
  flex: 0 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter {
  margin-bottom: 20px;
  display: flex;
  column-gap: 20px;
  transition: all 0.3s ease;

  &_button {
    border-radius: $borderRadiusM;
    padding: 8px;
    width: 40px;

    &_active {
      background-color: $ctrl_Liberty;
      color: $text_white;
    }
  }
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  box-shadow: 0px 0px 20px #cfcfcf;
  background-color: #fff;
  z-index: 100;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
}

.tooltip {
  position: relative;
}

.field {
  display: flex;
  justify-content: space-between;
}

.negative {
  color: $color-number-negative;
}

.positive {
  color: $color-number-positive;
}

.zero {
  color: $color-number-zero;
}
