@import '../../shared/styles/index';

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 754px;
  height: 296px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  background: $bg_base;
  box-shadow: 0px 0px 20px 0px #282b3012;
}

.title {
  text-align: center;
}

.details {
  width: 107px;
  text-align: right;
}

.doubleBtn {
  display: flex;
  gap: 16px;
  width: 376px;
}

.btn {
  height: 56px;
}
