@import '../../styles/index.scss';

.my-product {
  height: 392px;
  width: 380px;
  border-radius: $borderRadiusM;
  box-sizing: content-box;
  &__description {
    margin: 16px 20px 4px 20px;
    width: 340px;
    height: 64px;
    gap: 4px;
  }
}

.open-card {
  width: 580px;
  padding: 40px 120px 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
}

.dont-open,
.open-bill,
.move-on,
.error {
  width: 580px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
}

.checkbox {
  width: 580px;
  padding: 40px 0px;
  border-radius: $borderRadiusL;
  gap: 24px;
}

.failure {
  width: 780px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
}
.close-bill {
  width: 580px;
  padding: 24px 24px 40px 24px;
  border-radius: $borderRadiusL;
  gap: 24px;
}
.cancel-request {
  width: 780px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
}
.delete {
  width: 780px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
  margin-top: 20px;
}
.removed {
  width: 780px;
  height: 220px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
}
.modal,
.inform-modal,
.block-account-modal {
  width: 780px;
  height: 194px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
}
.application-sent {
  width: 510px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  gap: 24px;
}
.application-declined {
  width: 770px;
  height: 414px;
  padding: 40px 85px;
  border-radius: $borderRadiusL;
  gap: 24px;
}
.service-unavailable {
  width: 506px;
  height: 412px;
  padding: 40px 120px;
  border-radius: $borderRadiusL;
  &__svgInsideContainer {
    gap: 24px;
  }
}
.bill-container {
  display: inline-flex;
  flex-direction: column;
  background: $bg_base;
  justify-content: flex-start;
  align-items: center;
  &.open-card {
    background: none;
  }
  .close-button {
    margin-left: 510px;
  }
  .svgInsideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -2px;
  }
  .description {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    color: $text_primary;
    .title {
      font-size: 20px;
      line-height: map-get($line-height, L);
      word-wrap: break-word;
    }

    .title__checbox {
      font-size: 20px;
      line-height: map-get($line-height, M);
      word-wrap: break-word;
    }

    .subTitle {
      line-height: map-get($line-height, S);
      word-wrap: break-word;
    }

    .subTitle__close-bill {
      font-size: map-get($font-size, S);
      line-height: map-get($line-height, S);
      @include wordWrapAndMargin;
    }
    .subTitle__cancel-request {
      line-height: map-get($line-height, S);
      @include wordWrapAndMargin;
    }
    .subTitle__application-sent {
      line-height: map-get($line-height, S);
      @include wordWrapAndMargin;
    }
    .subTitle__application-declined {
      line-height: map-get($line-height, S);
      @include wordWrapAndMargin;
    }
    .under-image-title {
      line-height: map-get($line-height, S);
      @include wordWrapAndMargin;
    }
    .service-unavailable__under-image-title {
      font-size: map-get($font-size, XS);
      margin: 0 0 24px 0;
    }
    .open-card__under-image-title {
      font-size: map-get($font-size, M);
      line-height: map-get($line-height, M);
    }

    .error__under-image-title {
      font-size: map-get($font-size, XS);
      line-height: map-get($line-height, XS);
      font-weight: map-get($font-weight, R);
      width: 323px;
      margin-top: 24px;
    }

    .under-image-subTitle {
      line-height: map-get($line-height, XS);
      @include wordWrapAndMargin;
    }
  }
  .doubleBtn {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    &__singleBtn {
      width: 340px;
    }
    &__failure {
      gap: 24px;
    }
    &__open-card,
    &__close-bill,
    &__checkbox {
      gap: 20px;
    }
    &__cancel-request,
    &__delete,
    &__modal,
    &__block-account-modal {
      gap: 16px;
    }
    &__application-declined {
      gap: 24px;
      color: black;
    }
  }

  .btn {
    font-weight: map-get($font-weight, SB);
    line-height: map-get($line-height, S);
    font-size: map-get($font-size, S);
    word-wrap: break-word;
  }

  .btn__error {
    font-weight: map-get($font-weight, B);
    line-height: map-get($line-height, XS);
    padding: 16px 24px;
  }

  .btn__move-on {
    font-weight: map-get($font-weight, B);
    line-height: map-get($line-height, XS);
    padding: 16px 24px 16px 24px;
    height: 50px;
    width: 340px;
  }
  .btn__open-bill {
    padding: 12px 24px 12px 24px;
    height: 56px;
    width: 340px;
  }
  .btn__dont-open {
    padding: 16px 24px 16px 24px;
    width: 340px;
  }
  .btn__my-product {
    width: 235px;
    height: 56px;
    margin: 0 65px 16px 80px;
    position: relative;
    top: -4px;
  }
  .btn__failure {
    padding: 16px 24px 16px 24px;
    width: 253px;
  }
  .btn__open-card {
    padding: 12px 24px 12px 24px;
    margin-top: 24px;
    width: 256px;
    height: 56px;
  }
  .btn__close-bill {
    padding: 12px 24px 12px 24px;
    width: 220px;
    height: 56px;
  }
  .btn__cancel-request {
    padding: 12px 24px;
    width: 106px;
    height: 56px;
  }

  .btn__checkbox {
    width: 253px;
    height: 56px;
    padding: 16px 24px;
    text-align: center;
    font-weight: map-get($font-weight, SB);
  }

  .btn__application-sent {
    width: 270px;
    height: 50px;
    line-height: map-get($line-height, XS);
  }
  .btn__application-declined {
    width: 253px;
    height: 50px;
    padding: 0;
    line-height: map-get($line-height, XS);
  }
  .btn-left-color {
    border: solid 1px $ctrl_Liberty;
    background-color: $bg_primary;
    color: $text_action;
  }
  .btn__delete,
  .btn__modal,
  .btn__block-account-modal {
    padding: 12px 24px;
    width: 262px;
    height: 56px;
  }
  .btn__removed {
    padding: 12px 24px;
    width: 540px;
    height: 56px;
  }
  .btn__singleBtn {
    width: 100%;
  }
  .btn__inform-modal {
    padding: 12px 24px;
    width: 217px;
    height: 56px;
  }
}

.checkbox-content {
  display: flex;
  align-items: center;

  &-text {
    margin-left: 8px;
    width: 512px;
  }

  &-text-click {
    display: inline;
    text-decoration: underline;
  }
}

.preloader {
  height: 450px;
}
