.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-radius: $borderRadiusM;
  color: $text_secondary;
  font-weight: map-get($font-weight, M);
}

.table_head {
  position: sticky;
  top: 0;
  width: 100%;
  background: $bg_primary;
}

.table_body {
  display: flex;
  max-height: 300px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default_cell {
  display: flex;
  width: 120px;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
}
