@import '../../../shared/styles/index.scss';

.questionnaire__title {
  margin: 40px 0;
  color: $text_primary;
}

.questionnaire__list {
  padding: 32px 128px;
  border-radius: 8px;
  background-color: $bg_blocks;
  margin-bottom: 137px;
}

.questionnaire__list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;

  &:nth-child(2n-1) {
    border-radius: 8px 8px 0px 0px;
    background-color: $bg_primary;
  }

  &-title {
    color: $text_secondary;
  }

  &-values {
    display: flex;
    align-items: center;
    gap: 8px;

    &-text {
      color: $text_primary;
    }
  }
}

.questionnaire__list-forms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 326px));
  justify-content: space-between;
  align-items: end;
  gap: 32px;
  margin-top: 32px;

  &-items {
    margin-right: 15px;
    margin-top: 16px;

    &-label {
      margin-bottom: 20px;
    }
  }
}

.questionnaire__list-form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
  grid-column-end: span 2;

  &-btn {
    max-width: 235px;
    padding: 16px 24px;
    border-radius: 8px;
  }
}
