.@{app-prefix}-upload-from-wd-page {
  min-height: var(--wfm-content-height);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
  }

  &__card-wrapper {
    &.ant-card {
      margin-left: var(--wfm-padding-lg);
      margin-top: var(--wfm-padding-lg);
    }
  }

  &__card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--wfm-padding-md);
  }
}