// Text & Icons
$text_primary: #001a34;
$text_secondary: #4d5f71;
$text_primary_buttons: #f5f5f5;
$text_secondary_buttons: #f6f6f6;
$text_alert: #f53c14;
$text_action: #005afe;
$text_success: #4caf50;
$text_white: #ffffff;
$text_icons: linear-gradient(180deg, #005afe 0%, #0647bd 100%);
$text_grey: #7a7b7b;
$text_blue_light: #2f80ed;

// Background
$bg_primary: #fefefe;
$bg_base: #f6f7fa;
$bg_blocks: #f3f4f8;
$bg_input_scroll: #f1f1f1;
$bg_shadow: rgba(0, 0, 0, 0.05);
$bg_elevated_1: linear-gradient(89deg, #ffe6e9 15.23%, #ffe6e9 15.23%, #fdbfc0 83.95%);
$bg_elevated_2: linear-gradient(217deg, #f1b742 49.1%, #e09f36 91.99%);
$bg_dimming: #d2cfcf4d;
$bg_card_products_dollar: #001a34;
$bg_card_products_euro: linear-gradient(89deg, #ab6a8a 15.23%, #c17599 83.95%);
$bg_card_products_ruble: linear-gradient(89deg, #401475 15.23%, #6e14be 83.95%);
$bg_car_insurance: linear-gradient(93deg, #4648a2 0%, #bf6ad3 100%);
$bg_health_insurance: linear-gradient(126deg, #e7402e 21.09%, #ef668d 74.58%);
$bg_travel_insurance: linear-gradient(93deg, #2645b3 0%, #2ba3bd 100%);
$bg_input_disabled: #e3e3e3;
$bg_test_fail: #f5222224;
$bg_test_success: #00b92d29;

// Service
$separator: #757f8a;
$separator_alert: #f53c14;
$ctrl_Liberty: #005afe;
$ctrl_Liberty_secondary: #d8dfea;
$ctrl_Liberty_hover: #337bfe;
$ctrl_Liberty_pressed: #669cfe;
$ctrl_status_wait: #f6be2c;
$ctrl_status_success: #4caf50;

// Investment
$color-number-positive: #00bf1f;
$color-number-negative: #ff0000;
$color-number-zero: #7a7b7b;
$color-separator: #b1b1b1;
