.message-form {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px 12px;

    opacity: 0.94;
    box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
}

.message-form > form {
    position: relative;
}

.message-form__input {
    width: 100%;
    height: calc(1.5em + .75rem + 4px);
    outline: none;
    border: 1px solid #D4D4D8;
    border-radius: 8px;
}

.message-form__btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);

    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
