.@{app-prefix}-sales-offices-page {
  display: flex;

  &__content {
    padding: var(--wfm-padding-lg);
    width: 100%;
  }

  &__card {
    .ant-card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}