.preloader {
  height: 50px;
}

.news {
  display: flex;
  align-items: center;
  gap: 49px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(117, 127, 138);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  color: $text_secondary;
}

.img {
  width: 300px;
  height: 180px;
}

.title {
  margin-bottom: 11px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.link {
  display: inline-block;
}
