.stepper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.step {
  width: 82.25px;
  height: 6px;
  border-radius: 4px;
  &-filled {
    background-color: $ctrl_Liberty;
  }
  &-unfilled {
    background-color: $ctrl_Liberty_secondary;
  }
}
