{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["standard", "standard-react", "plugin:react-perf/recommended"],
  "rules": {
    "id-length": [1],
    "no-var": "error",
    "no-console": "error",
    "react/prop-types": [1],
    "no-debugger": "warn",
    "standard/no-callback-literal": [0],
    "react/jsx-indent-props": "off",
    "react/jsx-indent": "off",
    "react-perf/jsx-no-new-function-as-prop": "warn",
    "react-perf/jsx-no-new-object-as-prop": "warn",
    "react-perf/jsx-no-new-array-as-prop": "warn",
    "react/jsx-no-bind": "warn",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.3"
    }
  },
  "plugins": ["react-perf"]
}
