@import '../../../../shared/styles';

.container {
  margin: 20px 0;
}

.text {
  display: flex;
  justify-content: space-between;
}

.containerStyles {
  width: 380px;
  height: 10px;
  border-radius: 50px;
  background-color: $bg_input_disabled;
}

.fillerStyles {
  height: 100%;
  border-radius: inherit;
  text-align: right;
  background-color: $ctrl_Liberty;
  transition: width 1s ease-in-out;
}
