@import '../../../shared/styles/index.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1180px;
  min-height: 248px;
  top: 292px;
  left: 130px;
  border-radius: $borderRadiusL;
  padding: 36px 60px;
  gap: 48px;
  background-color: $bg_base;
}

.no-policies-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 142px;
  gap: 28px;
}

.info-text {
  width: 400px;
  height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: $text_primary;
}

.btn-primary {
  font-size: map-get($font-size, S);
  font-weight: map-get($font-weight, B);
  line-height: map-get($line-height, XS);
  letter-spacing: 0em;
  text-align: center;
  width: 263px;
  height: 50px;
  padding: 16px 24px;
  border-radius: $borderRadiusM;
  gap: 10px;
  border: none;
}
