.@{app-prefix}-admin-panel {
  display: flex;
  min-height: 100vh;

  &__grid {
    flex: 5;
    padding: var(--wfm-padding-lg);
  }

  & &__card {
    margin: 0 auto;

    .ant-card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ant-table {
    tbody tr {
      :hover{ 
        cursor: pointer;
      }
    }
  }

  .ant-table-pagination.ant-pagination {
    margin: var(--wfm-margin-md);
  }
}