.@{app-prefix}-partner-conditions {
  &__condition-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__row {
      display: flex;
      width: 100%;
      align-items: center;
      gap: 10px;

      &__select {
        flex: 1;
      }
    }
  }
}
