@import '../../shared/styles/index.scss';

.paymentSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 716px;
  padding: 40px 120px 50px;
  gap: 24px;
  border-radius: 16px;
  background-color: $bg_primary;

  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
  }

  &__buttons {
    display: flex;
    gap: 20px;

    button {
      width: 200px;
    }
  }

  &__textField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
