.pageTitle {
  margin-bottom: 24px;
}

.temp {
  color: #001a3480;
  margin-bottom: 5px;
}

.inputSearch {
  margin-bottom: 24px;
}

.listWrapper {
  max-height: 283px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #001a3480 #d2cfcf4d;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #001a3480;
    border-radius: 10px;
  }
}

.list {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.caption {
  color: #001a3480;
}
