@import '../../styles/index.scss';

.filter-container {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  &__default {
    width: 280px;
    height: 48px;
    gap: 24px;
  }

  .filter-block {
    padding: 4px 16px;
    border-radius: $borderRadiusM;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
    &__default {
      padding: 12px 24px;
      color: #757f8a;
      background-color: #d8dfea;
      border: 0.33px solid #757f8a;
    }
  }

  .filter-block_active {
    background: $text_action;
  }

  .filter-text_active {
    color: $text_secondary_buttons;
  }
}

.filter-container li:hover:not(.filter-block_active) {
  color: $text_action;
}
