.theme {
  &_primary {
    font-weight: map-get($font-weight, M);
    font-size: map-get($font-size, M);
    line-height: map-get($line-height, L);
    margin-left: 24px;
  }
  &_secondary {
    font-weight: map-get($font-weight, R);
    font-size: map-get($font-size, XS);
    line-height: map-get($line-height, XS);
  }
  &_third {
    font-weight: map-get($font-weight, R);
    font-size: map-get($font-size, XS);
    line-height: map-get($line-height, XS);
  }
  &_fourth {
    font-weight: map-get($font-weight, M);
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    margin-left: 4px;
  }
  &_blue {
    font-weight: map-get($font-weight, M);
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    margin-left: 4px;
  }
  &_blue-no-arrow {
    font-weight: map-get($font-weight, M);
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
  }
}

.themeColor {
  &_primary {
    color: $text_primary;
  }
  &_secondary {
    color: $text_secondary;
  }
  &_third {
    color: $text_primary_buttons;
  }
  &_fourth {
    color: $text_primary_buttons;
  }
  &_blue {
    color: $text_action;
  }
  &_blue-no-arrow {
    color: $text_action;
  }
}
