.wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
  padding-top: 16px;
  margin-bottom: 100px;
}

.frame {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.containerBackBtn {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.containerTitle {
  color: $text_primary;
  margin-top: 40px;
}
