.@{app-prefix}-step-create-pattern {
  &__body {
    padding: var(--wfm-padding-lg, 24px);
  }

  &__work-time {
    display: flex;
    justify-content: space-between;
  }

  &__day-name {
    width: 10%;
  }

  &__select-work-type {
    width: 20%;
  }

  &__week-data {
    margin-bottom: var(--wfm-margin-md, 16px);
  }

  &__breaks {
    width: 30%;
  }

  &__break {
    display: flex;

    > *:first-child {
      margin-right: var(--wfm-margin-xs, 8px);
    }
  }

  &__footer {
    border-top: 1px solid var(--ant-border-color-base);
    display: flex;
    justify-content: flex-end;
    padding: var(--wfm-margin-lg, 24px);

    > *:not(:last-child) {
      margin-right: var(--wfm-margin-md, 16px);
    }
  }
}