@import '../../../../shared/styles/colors';

.stepper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;

  &__step {
    height: 6px;
    width: 67px;
    // flex: 1 0 0;
    border-radius: 4px;
    background-color: $ctrl_Liberty_secondary;

    &--active {
      background-color: $text_action;
    }
  }
}
