@import '../../shared/styles/index.scss';

.container {
  max-width: 1180px;
  margin-bottom: 48px;
}

.filter {
  display: flex;
  justify-content: space-between;

  &__purposeSelection {
    display: flex;
    gap: 8px;
  }

  &__currencySelection {
    display: flex;
    gap: 8px;
  }
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 24px;
}

.labelBox {
  width: 100%;
}

.input {
  width: 100%;
}
