@import '../../styles/index.scss';

.buttons {
  display: flex;
  gap: 10px;

  label {
    position: relative;
    padding: 4px 16px;
    font-weight: map-get($font-weight, M);
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    color: $text_secondary;
    border-radius: $borderRadiusM;
    cursor: pointer;
  }

  .radio {
    position: absolute;
    visibility: hidden;

    &:hover + label {
      color: $text_action;
    }
    &:checked + label {
      background-color: $text_action;
      color: $text_secondary_buttons;
    }
  }
}

.dots {
  gap: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .currency {
    display: flex;
    align-items: center;
  }

  label {
    position: relative;
    margin: 4px 8px;
    font-weight: map-get($font-weight, M);
    font-size: map-get($font-size, S);
    line-height: map-get($line-height, S);
    color: $text_primary;
  }

  .radio {
    width: 16px;
    height: 16px;
  }
}
