@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/rounding.scss';

.btn {
  width: 24px;
  height: 24px;
  padding: 3px 0 0 10px;
  cursor: pointer;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 8px 0 0 -250px;
  list-style: none;
  padding: 16px;
  border-radius: $borderRadiusM;
  background-color: $bg_primary;
  box-shadow: 0px 15px 20px 0px $bg_shadow;
  position: absolute;
}

.right {
  margin-left: 0;
}

.menuList-width {
  &_xs {
    width: 165px;
    margin: 8px 0 0 -160px;
  }
  &_s {
    width: 260px;
  }
  &_m {
    width: 315px;
  }
  &_auto {
    width: auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: map-get($font-size, S);
  font-weight: map-get($font-weight, M);
  line-height: map-get($line-height, XS);
  color: $text_secondary;
  cursor: pointer;
  background: none;
  text-align: left;

  &:hover {
    color: $text_action;
  }
}
