@import '../../shared/styles/index.scss';

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 1180px;
  height: 245px;
  padding: 40px 32px;
  background: $bg_blocks;
  border-radius: $borderRadiusL;
  gap: 32px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .pins-container {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .pin-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .pin-title {
        line-height: 16px;
      }

      .pin-input {
        width: 359px;
      }
      .success-input {
        border-color: $ctrl_status_success;
      }
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .cancel-button {
    width: 187px;
    height: 56px;
    font-size: map-get($font-size, S);
    font-weight: map-get($font-weight, SB);
    line-height: map-get($line-height, S);
    background-color: $bg_blocks;
    color: $text_action;
    padding: 16px 24px;
    padding-left: 0;
    word-wrap: break-word;
    text-decoration: none;
    text-align: left;
  }

  .submit-button {
    width: 220px;
    height: 56px;
    font-size: map-get($font-size, S);
    font-weight: map-get($font-weight, SB);
    line-height: map-get($line-height, S);
    padding: 12px 24px;
    word-wrap: break-word;
  }
}
