.@{app-prefix}-upload-statistic-data-page {
  min-height: var(--wfm-content-height);

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    padding: var(--wfm-padding-lg);
  }

  &__upload-card {
    &-actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__input-date {
    display: flex;
    flex-direction: column;

    .ant-picker {
      width: 50%;
    }
  }

  &__upload-space {
    margin: var(--wfm-padding-md) 0;
  }

  &__table-card {
    .ant-card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}