.@{app-prefix}-modal-add-patterns {
  display: flex;

  &__action-icon {
    cursor: pointer;

    path {
      fill: var(--ant-icon-color-hover);
    }
  }

  &__modal {
    &.ant-modal {
      top: 0;
      padding-bottom: 0;
    }

    .ant-modal-content {
      height: 100vh;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .ant-modal-body {
      padding: 0;
      flex-grow: 1;
      overflow: auto;
    }
  }
}
