.@{app-prefix}-operations-content {
  .ant-card-body {
    height: 80%;
  }

  &__table {
    thead {
      display: none;
    }

    &__operations {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}