@import '../../../../shared/styles';

.course {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 284px;
  border-radius: $borderRadiusXL;
  box-sizing: border-box;
  overflow: hidden;
  color: $text_primary;
  box-shadow: 0 4px 24px $bg_shadow;
  text-decoration: none;
  transition:
    box-shadow 0.3s ease-out,
    transform 0.3s ease-out;
  &:hover {
    color: $text_primary;
    box-shadow: 0px 12px 36px $bg_shadow;
    transform: translateY(-4px);
    cursor: pointer;
  }
}

.img {
  display: flex;
  justify-content: end;
  height: 144px;
  padding: 24px;
  position: relative;
}

.courseTitle {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  color: $bg_primary;
}

.iconClass {
  position: absolute;
  left: 10%;
}
