@import '../../shared/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 21px;
  padding: 25px;
  border-radius: $borderRadiusL;
  background-color: $bg_blocks;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_name {
      color: $text_secondary;
    }

    &_accountNumber {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $separator;
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 16px;
    color: $separator;

    &_value {
      color: $text_primary;
    }
  }
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  margin-top: 24px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 50%;

  &__element {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_title {
      font-size: 14px;
      line-height: 16px;
      color: $separator;
    }

    &_value {
      color: $text_primary;
    }
  }
}

.button_wrapper {
  display: flex;
  align-items: end;
  height: 100%;
}
