.backBtn {
  margin: 16px 0 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    color: $text_primary;
  }

  &__body {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: $bg_blocks;
    padding: 32px;
    border-radius: 8px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  &__input {
    width: calc(50% - 10px);
    max-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__textArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_input {
      resize: none;
      width: 100%;
      height: 304px;
      padding: 16px 24px;
      background-color: $bg_primary;
      border: 1px solid $bg_primary;
      border-radius: $borderRadiusM;
      font-weight: map-get($font-weight, M);
      font-size: map-get($font-size, S);
      line-height: map-get($line-height, S);
      letter-spacing: 0;
      color: $separator;

      &::placeholder {
        color: $text_secondary;
      }

      &:focus {
        border-color: $separator;
        color: $text_primary;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    max-width: 220px;
    height: 56px;
  }
}

.error {
  border-color: $separator_alert;
  color: $text_alert;
  caret-color: $separator_alert;

  &::placeholder {
    color: $text_alert;
  }

  &:focus {
    border-color: $separator_alert;
    caret-color: $separator_alert;
  }
}
