@import '../../../shared/styles/index.scss';

.form {
  height: auto;
  margin-bottom: 100px;
  padding-top: 40px;
}

.formFrame {
  width: 1180px;
  margin-top: 26px;
  padding: 32px;
  background: $bg_base;
  border-radius: 16px;
}

.segmentOne {
  display: flex;
  gap: 40px;
}

.segmentTwo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 49px 0;
  gap: 8px;

  .star {
    color: $text_alert;
  }
}

.segmentThree {
  display: flex;
  justify-content: space-between;
}

.smallWrapper {
  display: flex;
  flex-direction: column;
  width: 538px;
  height: 90px;

  &__input {
    width: 100%;
  }
}

.cancelButton {
  background-color: inherit;
  text-decoration: none;
  font-weight: map-get($font-weight, SB);
}

.submitButton {
  width: 185px;
  height: 56px;
  padding: 0;
}

.frameWrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
