@import '../../../shared/styles/colors';

.backdrop {
  position: fixed;
  z-index: 555;
  width: 100%;
  height: 100%;
  background-color: $bg_dimming;
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal {
  width: fit-content;
  &_center {
    margin: 0 auto;
  }
  &_free {
    position: absolute;
  }
}

.relativeContainer {
  position: relative;
}
