@import '../../shared/styles/colors';

.body-block {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  color: $text_primary;

  .risks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 68px;
    color: $text_primary;

    &-card {
      display: flex;
      flex-direction: column;
      height: max-content;
      min-width: 80px;

      &-title {
        margin-top: 24px;
        line-height: 36px;
        font-weight: 500;
        color: rgba(0, 26, 52, 1);
      }

      &-description {
        color: $text_secondary;
        padding-top: 8px;
      }
    }
  }
}
