.limits-selection-step-page {
  display: flex;
  flex-direction: column;
  gap: 23px;

  &__box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__restrictions-text,
  &__duration-text {
    padding: 32px 0 8px 0;
  }
  &__type-limit-radio-box {
    display: flex;
    gap: 20px;
    height: 56px;
  }

  &__duration-radio-box {
    display: flex;
    gap: 20px;
    height: 56px;
    & > :only-child {
      width: 50%;
    }
  }

  &__restrictions-input-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    & > :only-child {
      width: 50%;
    }
  }
}
.switch-box {
  display: flex;
  gap: 5px;
  padding-top: 32px;
  .switch-text {
    padding-top: 7px;
    padding-left: 16px;
    color: $text_primary;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 19px;

  &-text {
    font-size: map-get($map: $font-size, $key: S);
    padding-left: 16px;
    color: $text_secondary;
  }
  &-text-link {
    color: $text_action;

    line-height: map-get($map: $line-height, $key: XS);
    line-height: 18px;
    background: none;
    padding-left: 8px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1180px;
  flex: 1;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 135px;
  .info-frame-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }
}
