@import '../../../shared/styles/index.scss';

.title {
  margin: 40px 0 24px;
}

.form {
  margin-bottom: 100px;
  height: auto;
}

.formFrame {
  width: 1181px;
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 49px;
  border-radius: $borderRadiusL;
  background: $bg_base;
}

.segmentOne {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.segmentTwo {
  top: 235px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 253px;
}

.segmentInput {
  display: flex;
  flex-direction: row;
  gap: 40px;

  .noCreditObligations {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    gap: 12.5px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 17px;
  }
}

.employerId {
  position: relative;
  width: 345px;
  height: 113px;
}

.employerIdInput {
  width: 100%;
}

.smallWrapper {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 90px;
  &__input {
    width: 305px;
    height: 40px;
    border-radius: $borderRadiusM;
    gap: 10px;
    background-color: $bg_primary;
  }
}

.currency_chips {
  height: 45px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cancelButton {
  text-decoration: none;
  background-color: inherit;
  font-weight: 600;
}

.submitButton {
  width: 185px;
  height: 56px;
  padding: 0;
}

.resultForm {
  margin: 75px auto;
}
