.@{app-prefix}-dealers-filters {
  flex: 1;
  border-right: 1px solid var(--ant-border-color-base);
  height: var(--wfm-content-height);

  &__content {
    padding: var(--wfm-padding-md);

  }
  &__actions {
    display: flex;
    gap: var(--wfm-margin-md);
    justify-content: flex-end;
    grid-column: 4;
    margin-bottom: var(--wfm-margin-md);
  }

  &__region {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}