.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 0 100px;
}

.creditWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $bg_blocks;
  border-radius: $borderRadiusM;
  padding-bottom: 40px;
}
