@import '../../shared/styles/colors';

.conditions-block {
  display: flex;
  flex-direction: column;
  color: $text_primary;
  .condition-items {
    min-height: 140px;
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
  }
  .condition-items.third {
    > div {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}
