.filter-wrapper-open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
  width: 426px;
  left: 0px;
  position: absolute;
  background-color: white;
  border-radius: $borderRadiusM;
  gap: 20px;
  padding-bottom: 10px;
}

.filter-wrapper-closed {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  min-height: 70px;
  border-radius: $borderRadiusM;
  left: 0px;
  gap: 20px;
}

.filter-button {
  color: black;
  border: none;
  &:hover {
    border: none;
    background-color: white;
    color: black;
  }
}

.filter-button-content {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}

.branch-serves {
  padding-left: 30px;
  margin-top: -20px;
  color: $text_secondary;
  font-weight: map-get($map: $font-weight, $key: M);
}

.filter-list {
  display: flex;
  flex-direction: column;
}

.radio-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 18px;
  margin-bottom: 20px;
}

.checkbox-text {
  padding-left: 30px;
}

.schedule {
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: 15px;
  color: $text_secondary;
  font-weight: map-get($map: $font-weight, $key: M);
}

.apply-and-cancel {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 10px;
}
