@import '../../shared/styles/index.scss';

.content__news {
  max-width: 280px;
}
.content__news_body_content {
  display: flex;
  flex-direction: column;
}
.body__content_text {
  font-size: map-get($font-size, S);
  font-style: normal;
  font-weight: map-get($font-weight, M);
  line-height: map-get($line-height, S);

  color: $text_primary;
}
.body__content_time {
  align-self: flex-end;
  font-size: map-get($font-size, XS);
  font-style: normal;
  font-weight: map-get($font-weight, R);
  line-height: map-get($line-height, XS);
  margin: 0 0 0 0;
  color: $text_secondary;
}
.body__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: $borderRadiusM;
  padding: 8px;
  margin-bottom: 16px;
  background-color: $bg_base;
}
.body__content_image {
  margin: 0 8px 0 0;
  &:last-child {
    align-self: flex-end;
    margin: 0 0 0 0;
  }
}
.image__img {
  max-width: 48px;
  height: 48px;
}
