@import '../../shared/styles/fonts';
@import '../../shared/styles/colors';
@import '../../shared/styles/rounding';

.wrapper {
  height: 164px;
  border-radius: $borderRadiusM;
  background-color: $bg_blocks;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 380px;
  font-size: 18px;
  line-height: 20px;
  color: $text_secondary;
}

.mainContainer {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.mainInfo {
  display: flex;
  gap: 118px;
  align-items: center;
}

.amountContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 270px;
}

.periodValidity {
  min-width: 215px;
}

.amount {
  min-width: 100px;
  font-weight: map-get($font-weight, B);
}

.name {
  font-size: map-get($font-size, M);
  font-weight: map-get($font-weight, M);
  color: $text_secondary;
  margin-right: 16px;
}

.rate {
  font-weight: map-get($font-weight, B);
  margin-left: auto;
}

.mainTitles {
  color: $separator;
}

.button {
  width: 220px;
  height: 56px;
}
