.container {
  max-width: 1180px;
  margin-bottom: 116px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoFrame__wrapper {
  display: flex;
  justify-content: center;
}
