@import '../../../../component/calendar/CalendarComponent.module.scss';

.inputDate {
  position: relative;
  width: 100%;

  .isNotError {
    fill: $text_secondary;
    cursor: pointer;
  }

  .isError {
    fill: $text_alert;
    cursor: pointer;
  }

  .container {
    position: absolute;
    right: 0;
    width: min-content;
    z-index: 100;

    .calendar {
      max-width: 438px;
      padding: 24px;
      margin-top: 8px;
      background-color: $bg_primary;
      border: none;
      border-radius: $borderRadiusM;
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    }
  }
}
