.contacts {
  padding: 16px 0 100px;

  .body {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .main {
      background-color: $bg_blocks;
      padding: 40px 32px;
      border-radius: $borderRadiusL;
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: $text_primary;

      .block {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .items {
          display: flex;
          gap: 40px;

          .item {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .description {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  .chat_bots {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
