.requisites-send {
  width: 580px;
  padding: 40px 120px;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: $borderRadiusL;
  background-color: $bg_blocks;

  &__title {
    text-align: center;
  }

  &__btn-container {
    display: flex;
    gap: 24px;
  }
}
