.@{app-prefix}-tooltip {  
  &__icon {
    &__default {
      color: inherit;
    }

    &_info {
      color: var(--ant-info-color) !important;
    }

    &_success {
      color: var(--ant-success-color) !important;
    }

    &_warning {
      color: var(--ant-warning-color) !important;
    }

    &_error {
      color: var(--ant-error-color) !important;
    }
  }
}
