.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: $borderRadiusM;
  background-color: $bg_base;
  width: 180px;
  height: 116px;
}
