@import '../../../../shared/styles/colors';

.tickerLine {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  padding-bottom: 20px;
}

.tickerLink {
  width: 140px;
  max-width: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $bg_base;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  padding: 7px 0 4px 7px;
  transition: box-shadow 0.3s ease;

  &__icon {
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  &:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
}

.negative {
  color: $color-number-negative;
}

.positive {
  color: $color-number-positive;
}

.zero {
  color: $color-number-zero;
}

.negativeBG {
  animation-duration: 1.5s;
  animation-name: negativeBG;
}

.positiveBG {
  animation-duration: 1.5s;
  animation-name: positiveBG;
}

@keyframes negativeBG {
  from {
    background-color: #ffd2d2;
  }

  50% {
    background-color: #fde6e6;
  }

  to {
    background-color: none;
  }
}

@keyframes positiveBG {
  from {
    background-color: #bdfac8;
  }

  50% {
    background-color: #d0fcd8;
  }

  to {
    background-color: none;
  }
}
