.wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  padding-top: 24px;
  margin-bottom: 102px;
}

.frame {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}

.containerBackBtn {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.containerTitle {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
  color: #001a34;
}
