.page_wrapper {
  padding: 88px 0 96px;
}

.schedule_container {
  margin-top: 72px;
  padding: 0 115px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0 30px;
}

.schedule_container > * {
  text-align: center;
  padding: 10px 0;
}
