@import '../../shared/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 395px;
  height: 258px;
  padding: 24px;
  border-radius: $borderRadiusS;
  background-color: $bg_blocks;
}

.title {
  padding-bottom: 8px;
  color: $text_action;
  line-height: map-get($line-height, L);
}

.detailInfo {
  padding-bottom: 18px;
  color: $separator;

  &__name {
    padding-left: 2px;
    color: $text_primary;
  }
}

.condition {
  color: $text_secondary;

  &__description {
    padding-left: 2px;
    color: $text_primary;
  }
}

.interestRate {
  padding-bottom: 24px;
  font-size: 14px;
  color: $separator;
}

.btn {
  height: 56px;
  background-color: inherit;
}
