.@{app-prefix}-contacts-form {
  &__delete-btn,
  &__add-btn {
    width: 100%;
  }
}

.@{app-prefix}-contacts-types {
  &__delete-btn {
    width: 100%;
  }
}

.@{app-prefix}-contact-fields {
  &__row {
    .ant-form-item {
      margin-bottom: var(--wfm-margin-xs);
    }
  }

  &__add-contact-btn {
    width: 100%;
  }
}

