@import '../../shared/styles/index.scss';

.requisites-list {
  &__item {
    width: 860px;
    display: inline-flex;
    padding: 16px;
    justify-content: space-between;
    align-items: flex-start;
    line-height: map-get($line-height, S);
    gap: 24px;

    &:first-child {
      border-radius: $borderRadiusM $borderRadiusM 0 0;
    }

    &:last-child {
      border-radius: 0 0 $borderRadiusM $borderRadiusM;
    }

    &:nth-child(2n + 1) {
      background-color: $bg_primary;
    }

    &:last-child {
      :first-child {
        white-space: pre-wrap;
      }
    }
  }

  &__with-copy-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 329px;
  }

  &__rigth-copy-wrapper {
    text-align: right;
    width: 477px;
  }

  &__requisite-name {
    color: $text_secondary;
  }
}
