@import '../../styles/index.scss';

.image-constructor {
  width: 340px;
  height: 203px;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__info-wrapper {
    height: 203px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 15px;
  }

  &__currency-text {
    user-select: none;
    color: $bg_primary;
    z-index: 10;
  }

  &__payment-system {
    align-self: flex-end;
    z-index: 10;

    &_ps-visa {
      width: 53px;
      height: 16px;
    }

    &_ps-mastercard {
      width: 53px;
      height: 26px;
    }

    &_ps-mir {
      width: 53px;
      height: 26px;
    }

    &_ps-world-mastercard {
      width: 53px;
      height: 16px;
    }

    &_ps-visa-signature {
      width: 53px;
      height: 16px;
    }
  }
}
