.bgContainer {
  background-color: $bg_base;
}

.container {
  height: 72px;
  padding-top: 16px;
  display: flex;
  gap: 24px;
}

.moreButton {
  font-size: map-get($font-size, 'S');
  line-height: map-get($line-height, 'S');
  font-weight: map-get($font-weight, 'M');
  color: $text_secondary;
}
