.form {
  padding: 32px;
  border-radius: $borderRadiusL;
  background-color: $bg_blocks;
}

.inputsContainer {
  width: 548px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 8px;
}

.currencySymbol {
  color: $text_secondary;
}

.caption {
  margin-top: 8px;
}

.error {
  color: $text_alert;
}

.btnContainer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 220px;
}
