@import '../../shared/styles';

.body {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items {
  padding-top: 24px;
  display: flex;
  gap: 20px;
}

.item {
  padding: 24px;
  background-color: $bg_base;
  border-radius: $borderRadiusL;
  width: 380px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: $text_primary;

  svg {
    flex-shrink: 0;
  }
}
