.skeletonContainer {
  position: relative;
  overflow: hidden;
}

.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: 2.5s shine linear infinite;
  z-index: 100;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
