@import '../../shared/styles/rounding';
@import '../../shared/styles/colors';

.errorMessage {
  color: $text_alert;
  font-size: map-get($font-size, XS);
}

.modal {
  padding-top: 52px;
  border-radius: $borderRadiusL;
  background: $bg_primary;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: $text_primary;

  .bgForm {
    padding: 40px 32px;
    border-radius: $borderRadiusL;
    background: $bg_blocks;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .input {
    max-width: 360px;
    background: $bg_primary;
  }

  .buttons__block {
    display: flex;
    justify-content: space-between;

    .buttonCancell {
      padding: 0;
      color: $text_action;
    }

    .buttonSubmit {
      padding: 12px 70px;
    }
  }
}
