@import '../../shared/styles/';

.customerInfo {
  margin: 40px 0 32px;
  display: flex;
  gap: 32px;
  color: $text_primary;
}

.password {
  max-width: 740px;
  margin: 8px 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  background-color: $bg_blocks;
  padding: 0 32px 40px 32px;
  margin-top: -8px;
  border-radius: 0 0 16px 16px;

  button {
    margin-top: -8px;
    background-color: $bg_blocks;
  }
}
