@import '../../../../../../shared/styles/index.scss';

.courier-delivery-step-page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__form-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
  }

  &__inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 548px);
    justify-content: space-between;
    gap: 16px 20px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }
}
