@import '../../../shared/styles/index.scss';

.container {
  max-height: 447px;
  max-width: 1180px;
  margin: 40px 0 100px;
  padding: 40px 60px;
  background-color: $bg_blocks;
  border-radius: 16px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 32px;
  }
}

.container__description {
  display: flex;
  flex-direction: row;

  .depositInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 628px;
  }

  .detailInfo__title {
    color: $separator;
    font-family: 'SF Pro Display', R;
  }
}

.cardHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
  z-index: 1;
}

.primeInfo {
  display: flex;
  gap: 24px;
  max-width: 621px;

  &__text {
    color: $text_action;
    align-self: center;
  }
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
}

.depositAccount {
  display: flex;
  flex-direction: row;
  gap: 8px;

  &__text {
    color: $text_secondary;
  }
}

.detailInfo {
  position: relative;
  gap: 8px;
  width: 182px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: $bg_card_products_dollar;

  &__title {
    font-weight: map-get($font-weight, SB);
    color: $text_secondary;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__inactiveDeposit {
    color: $text_secondary;
    opacity: 0.9;
  }

  &__activeDeposit {
    color: $bg_card_products_dollar;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.totalBalance {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttonBlock {
  display: flex;
  width: 376px;
  height: 56px;
  gap: 16px;
}

.depositAmount__text {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.warning {
  color: $text_alert;
}
