.notificationsBlock {
  padding: 50px 15px;
  gap: 10px;
  background-color: #d8dfea;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;

  &Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    background-color: $bg_primary;
  }
  &TimeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: $bg_primary;
  }
  .timeInput {
    width: auto;
  }
}
