@import '../../../../../shared/styles/index.scss';

.reissue-reason-step-page {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 548px);
    justify-content: space-between;
    gap: 20px;
  }
}
