@import '../../shared/styles/colors';
.closeCardWrapper {
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin: 44px 0 200px;
}

.flat_button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px;
  color: $text_primary;
  width: 380px;

  & > * {
    text-align: left;
  }
}
