.body-container {
  width: 1180px;
  padding: 32px 160px;
  margin: 80px 0 121px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $borderRadiusL;
  background-color: $bg_blocks;
  gap: 24px;
}

.title-container {
  width: 100%;
  text-align: center;
}

.checkbox {
  display: flex;
  align-items: center;

  &-text {
    margin-left: 8px;
    width: 613px;
  }

  &-text-click {
    display: inline;
    text-decoration: underline;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn-button {
  display: inline-block;
  width: 220px;
  height: 56px;
  padding: 16px 24px;
  text-align: center;
  font-weight: map-get($font-weight, SB);
}
