.bodyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rightMenu {
  width: 164px;
  display: flex;
  justify-content: flex-end;
  height: 36px;
}
