@import '../../shared/styles/colors';

.action-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  border-radius: 16px;
  background: $bg_car_insurance;
  padding: 36px 60px;
  margin-top: 72px;
  margin-bottom: 100px;
  gap: 20px;

  .action-title {
    color: $text_primary_buttons;
    max-width: 704px;
  }

  .send-ticket-button {
    padding: 16px 24px;
    border: none;
    height: 56px;
    text-wrap: nowrap;
  }

  .buttons-container {
    display: flex;
    gap: 20px;
  }
}
