@import '../../shared/styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $bg_blocks;
  border-radius: $borderRadiusM;
  padding-bottom: 40px;
  margin-top: 40px;
}
