@import '@/shared/styles/index.scss';

.item {
  width: 380px;
  padding: 16px 16px 10px;
  border-radius: $borderRadiusM;
  background: $bg_blocks;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row:last-of-type {
  align-items: center;
  gap: 10px;
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-end;
}

.column {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.accountName {
  line-height: 24px;
  color: $text_primary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accountType {
  color: $bg_card_products_dollar;
  opacity: 0.5;
}

.balance {
  line-height: 24px;
  color: $text_primary;
}
