.collapse {
  padding: 12px 12px;
  background-color: $bg_blocks;
  border-radius: $borderRadiusM;
  cursor: pointer;

  .head {
    color: $text_secondary;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  svg {
    color: $text_action;
  }

  .rotate {
    transform: rotate(180deg);
    transition: transform 0.7s ease;
  }

  .arrow {
    transition: transform 0.7s ease;
  }

  .wrapper {
    display: flex;
    gap: 8px;
  }
}
