.@{app-prefix}-persons-filters {
  flex: 1;
  height: var(--wfm-content-height);
  border-right: 1px solid var(--ant-border-color-base);

  .ant-form {
    padding: var(--wfm-padding-md);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--wfm-margin-md);
  }
}
