.back-button {
  padding-top: 28px;
  margin-bottom: 41px;
}

.body {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 102px;
}

.tbody_wider {
  width: calc(100% + 10px);
}
