NODE_PATH=src/
REACT_APP_WS=wss://
REACT_APP_HTTP=https://
REACT_APP_BE=t2ru-crmccbe-t1.corp.tele2.ru
REACT_APP_SE=t2ru-crmse-tst.corp.tele2.ru
REACT_APP_NLP=t2ru-crmbepp-02
REACT_APP_SEARCH=http://localhost:3000
REACT_APP_BROADBAND_FE=http://localhost:3001
REACT_APP_KMS_DEFAULT=http://t2ru-kmststap-01.corp.tele2.ru/kms/lh
REACT_APP_KMS_SEARCH=http://t2ru-kmststap-01.corp.tele2.ru/kms/lh
REACT_APP_KMS_API_OPEN_ARTICLE=http://t2ru-kmststap-01.corp.tele2.ru/kms/CM/T_PAKET_TARIF/VIEW
REACT_APP_ADMIN=http://t2ru-crmccfe-pp:8081
REACT_APP_TRBL=http://10.77.251.165:8082/Subscriber/Subscriber
REACT_APP_SMART_GIS_DEFAULT=https://torus-osm.corp.tele2.ru
REACT_APP_SMART_GIS_BACKUP=https://smartgis-osm.corp.tele2.ru
REACT_APP_SMART_GIS_MAP=https://smartgis.corp.tele2.ru/map-smartgis/ServiceGEOCODE.asmx
REACT_APP_SMART_GIS_REDIRECT_MAP=http://smartgis-test.corp.tele2.ru/map-smartgis/
REACT_APP_SUZ=https://retail-map.teko.io
REACT_APP_MAGNIT=http://10.179.49.4/
REACT_APP_CASPER=https://t2ru-crmccfe-pp:10443/
REACT_APP_WEBIM_APP=webim-dev.tele2.ru
REACT_APP_WEBIM_SERVICE_LOCATION=:11990
REACT_APP_BILLING_NOTIFICATION_SERVICE_LOCATION=:12030
REACT_APP_TARIFF_CONSTRUCTOR_SERVICE_LOCATION=:11820
REACT_APP_REMAINS_SERVICE_LOCATION=:11830
REACT_APP_CHARGE_SERVICE_LOCATION=:11810
REACT_APP_SHOP_ORDER_SERVICE_LOCATION=:11950
REACT_APP_SUBS_COMPENSATION_CALCULATOR_SERVICE_LOCATION=:12060
REACT_APP_OIDC_AUTH_HOST=https://auth-wfmdev.tele2.ru
REACT_APP_APPSELLER_BACKEND_HOST_HTTP=https://astest.tele2.ru
REACT_APP_APPSELLER_BACKEND_HOST_WS=wss://astest.tele2.ru
REACT_APP_APPSELLER_DATA_INTEGRATION_BE=/sessionsservice/dadataintegrationservice
REACT_APP_CUSTOMER_REPRESENT_SERVICE_LOCATION=/service/personscustomerrepresentservice
REACT_APP_SESSIONS_SERVICE_LOCATION=/sessionsservice
REACT_APP_SMS_TEMPLATE_SERVICE_LOCATION=/smstemplateservice
REACT_APP_BROADBAND_BE=https://t2ru-crmcchp-pp

#Ports
REACT_APP_AUTHORIZATION_SERVICE_LOCATION=6071
REACT_APP_REASON_CATEGORY_SERVICE_LOCATION=10752
REACT_APP_PERSONAL_INFO_SERVICE_LOCATION=11000
REACT_APP_SUBSCRIPTION_SERVICE_LOCATION=11010
REACT_APP_SMS_TEMPLATE_SERVICE_LOCATION=11020
REACT_APP_TEMPORARY_PAYMENT_SERVICE_LOCATION=11030
REACT_APP_REMAINS_SERVICE_LOCATION=11040
REACT_APP_MANUAL_SEARCH_SERVICE_LOCATION=11050
REACT_APP_SMS_SERVICE_LOCATION=11060
REACT_APP_BALANCE_SERVICE_LOCATION=11070
REACT_APP_STATUSES_HISTORY_SERVICE_LOCATION=11080
REACT_APP_MANAGMENT_SERVICE_LOCATION=11090
REACT_APP_MASS_TECH_PROBLEM_SERVICE_LOCATION=11100
REACT_APP_COMMENT_SERVICE_LOCATION=11110
REACT_APP_SMS_HISTORY_SERVICE_LOCATION=11120
REACT_APP_OFFERS_SERVICE_LOCATION=11130
REACT_APP_SUBSCRIBER_STATUS_SERVICE_LOCATION=11140
REACT_APP_TICKET_ADMIN_SERVICE_LOCATION=11150
REACT_APP_TICKET_SERVICE_LOCATION=11160
REACT_APP_ADMIN_UNIT_SERVICE_LOCATION=11170
REACT_APP_HLR_SERVICE_LOCATION=11180
REACT_APP_EMAIL_SERVICE_LOCATION=11190
REACT_APP_OFFERS_HISTORY_SERVICE_LOCATION=11200
REACT_APP_FINANCE_SERVICE_LOCATION=11230
REACT_APP_CHANGE_SIM_SERVICE_LOCATION=11240
REACT_APP_FILE_STORAGE_SERVICE_LOCATION=11250
REACT_APP_SUBSCRIBER_GROUPS_SERVICE_LOCATION=11260
REACT_APP_LIKE_SERVICE_LOCATION=11270
REACT_APP_FEEDBACK_SERVICE_LOCATION=11280
REACT_APP_MARKERS_SERVICE_LOCATION=11290
REACT_APP_MTP_SERVICE_LOCATION=11100
REACT_APP_BILLING_NOTIFICATIONS_SERVICE_LOCATION=12030
REACT_APP_DIAGNOSTICS_SERVICE_LOCATION=11300
REACT_APP_SMART_SEARCH_SERVICE_LOCATION=11310
REACT_APP_DIAGNOSTIC_MANAGER_SERVICE_LOCATION=11320
REACT_APP_RESTRICTION_MANAGMENT_SERVICE_LOCATION=11350
REACT_APP_GAME_INTERACTIONS_SERVICE_LOCATION=11340
REACT_APP_COMPENSATIONS_SERVICE_LOCATION=11380
REACT_APP_QUESTIONARY_SERVICE_LOCATION=11410
REACT_APP_CONFIG_SERVICE_LOCATION=11430
REACT_APP_RC_SEARCH_SERVICE_LOCATION=11440
REACT_APP_LOG_SERVICE_LOCATION=11490
REACT_APP_NLP_SERVICE_LOCATION=11450
REACT_APP_CONVERSATIONS_SERVICE_LOCATION=11510
REACT_APP_MESSAGES_SERVICE_LOCATION=11520
REACT_APP_IDENTIFICATIONS_SERVICE_LOCATION=11530
REACT_APP_MESSAGE_TEMPLATES_SERVICE_LOCATION=11540
REACT_APP_HANDLINGS_SERVICE_LOCATION=11360
REACT_APP_INTERACTION_SERVICE_LOCATION=11470
REACT_APP_REASON_CATEGORY_MATRIX_SERVICE_LOCATION=11560
REACT_APP_MARGIN_SERVICE_LOCATION=11590
REACT_APP_PROMO_SERVICE_LOCATION=11610
REACT_APP_ADJUSTMENT_SERVICE_LOCATION=11660
REACT_APP_ADDRESS_INFO_SERVICE_LOCATION=11670
REACT_APP_BROADBAND_ORDER_SERVICE_LOCATION=11680
REACT_APP_BROADBAND_EQUIPMENT_SERVICE_LOCATION=11690
REACT_APP_BROADBAND_ADDRESS_SERVICE_LOCATION=11700
REACT_APP_PROTOCOL_SERVICE_LOCATION=11710
REACT_APP_MNP_ORDER_SERVICE_LOCATION=11740
REACT_APP_BROADBAND_TIMESLOTS_SERVICE_LOCATION=11730
REACT_APP_PERSONAL_DATA_SERVICE_LOCATION=11760
REACT_APP_MNP_VERIFY_SERVICE_LOCATION=11940
REACT_APP_CLICK_SERVICE_LOCATION=:12340

# WebSeller services
REACT_APP_CONTRACT_SERVICE_HTTP_APPSELLER=https://astest.tele2.ru/ContractService