@import '../../../shared/styles/index.scss';

.wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
  padding-top: 16px;
  margin-bottom: 100px;
}

.frame {
  display: flex;
  width: 100%;
  flex-direction: column;
  // gap: 6px;
}

.containerBackBtn {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.containerTitle {
  color: $text_primary;
  margin-top: 40px;
}

.bg_primary {
  background-color: $bg_primary;
}

.back-btn {
  color: $text_action;
}

.next-btn {
  width: 220px;
  padding: 12px 24px;
  height: 100%;
}

.currency > label {
  padding-bottom: 16px;
}

.required-field > label::after {
  content: ' *';
  color: $text_alert;
}

label {
  cursor: default;
}
