.form {
  width: 719px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: $bg_blocks;
  border-radius: 8px;

  &__container {
    width: 655px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 10px;
    padding-bottom: 0px;
  }

  &__number {
    padding: 19px 18px 0;
  }

  &__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 28px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px 24px 0px 24px;
  }
}

.info {
  &__title {
    line-height: 24px;
    color: $text_secondary;
  }

  &__value {
    line-height: 24px;
    color: $text_primary;
  }
}

.phone-number {
  color: $text_secondary;
}
