.card {
  cursor: pointer;
  height: 104px;
  background-color: $bg_base;
  color: $bg_card_products_dollar;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  &_selected {
    width: 280px;
  }
  &_ordinary {
    width: 380px;
  }

  &_description {
    color: $text_secondary;
  }
  &_active {
    background-color: #cae6ff;
  }
}
