@import '../../shared/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 754px;
  max-height: 620px;
  margin: auto;
  padding: 40px;
  gap: 28px;
  border-radius: $borderRadiusL;
  background: $bg_base;
  box-shadow: 0 0 20px 0 #282b3012;
}

.inputContainer {
  min-width: 500px;
  margin: 0 auto;
}

.labelBox {
  width: 100%;
  max-height: 98px;
  margin-bottom: 28px;
  text-align: left;
}

.input {
  width: 100%;
}
