.all {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
  color: $text_primary;
}

.my-products {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 95px;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 34px;
  }
}

.right {
  width: 792px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block {
  display: flex;
  flex-direction: column;

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.cashback__cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
