@import '/src/shared/styles/index.scss';

.body_block {
  padding: 40px 32px;
  margin: 40px 0 108px;
  background: $bg_blocks;
  border-radius: $borderRadiusL;
}

.block_button {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.reset_button {
  font-weight: M;
  text-decoration: none;
  background: $bg_blocks;

  &:active {
    background: $bg_blocks;
  }
}

.step_button {
  display: block;
  width: 220px;
  height: 56px;
}

.enterSms_code {
  background-color: $bg_primary;
}

.enterSms_new {
  background-color: $bg_blocks;

  &:active {
    background-color: $bg_blocks;
  }
}

.enterSms_title {
  margin-bottom: 24px;
}

.enterPhone_input {
  width: 580px;
  margin-bottom: 8px;
}
