@import '../../shared/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 21px;
  padding: 33px 33px 56px;
  border-radius: $borderRadiusL;
  background-color: $bg_blocks;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;

  &__name {
    color: $text_secondary;
  }
}

.description {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 32px 40px;
  width: 100%;
  margin-top: 32px;

  &__element {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_title {
      font-size: 14px;
      line-height: 16px;
      color: $separator;
    }

    &_value {
      color: $text_primary;
    }
  }
}
