@import '../../shared/styles';

.segmentResultOne {
  display: flex;
  justify-content: space-between;
}

.currencyBlock {
  display: flex;
  align-items: center;
  gap: 24px;
}

.resultBlock {
  display: flex;
  gap: 40px;
  color: $separator;

  &__text {
    color: $text_primary;
  }

  &__infoBlock {
    text-align: end;
    min-width: 300px;

    &__interestRate {
      text-align: end;
      width: 110px;
    }
  }
}

.buttonDesign {
  width: 220px;
}
