.@{app-prefix}-setting-up-role {
  margin-top: 24px;

  &__condition__main {
    margin: 15px 0 30px;
  }

  &__condition__header {
    margin: 24px 0 16px;
  }

  &__condition__main-row {
    margin-bottom: 30px;
  }

  &__condition__groups {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__select {
    display: block;
    width: 100%;
    margin-right: 10px;
  }

  &__minus-icon {
    cursor: pointer;
  }

  &__block {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  &__form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .admin-shell-app-header__select {
    width: 100%;
    margin-right: 10px;
  }

  &__select {
    width: 100%;
  }
}

