.work {
  padding: 16px 0 28px;

  .body {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-top: 28px;

    .city-confirm-modal {
      position: absolute;
      width: 316px;
      height: 81px;
      top: 156px;
      left: 1013px;
      border-radius: $borderRadiusML;
      background-color: $bg_primary;
      box-shadow: 0px 15px 20px 0px $bg_shadow;
    }

    .form {
      display: flex;
      gap: 18px;

      .input {
        max-width: 611px;
      }
    }

    .main {
      display: flex;
      gap: 59px;

      .results-container {
        display: flex;
        flex-direction: column;
        gap: 51px;

        .results {
          display: flex;
          flex-direction: column;
          gap: 32px;
          padding: 40px 32px;
          background-color: $bg_blocks;
          border-radius: $borderRadiusL;
          color: $text_primary;

          .description {
            color: $text_secondary;
          }
        }

        .button {
          align-self: baseline;
        }
      }
    }
  }

  .pagination-buttons {
    display: flex;
    gap: 18px;
    margin-top: 111px;
  }
}
