.app-footer {
    padding: 12px;
    text-align: center;
    font-size: 11px;
    line-height: 1.18;
    letter-spacing: .05px;
    color: #8F90A6;
}

.app-footer__wrapper {
    margin-top: 5%;
}

.app-footer .link {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: .02px;
    color: #71717A;
    cursor: pointer;
}

.app-footer .copyright {
    margin-top: 16px;
}
