@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.inputErrorMessage {
  color: $text_alert;
  font-size: map-get($font-size, XS);
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;

  &_valid {
    color: $text_success;
  }
}
