.inputSelect__content {
  position: relative;

  .iconButton {
    border: none;
  }

  .iconButton_open {
    transform: rotate(180deg);
  }

  &.m {
    height: 72px;
  }
  &.s {
    height: 56px;
  }
  &.l {
    height: 46px;
  }

  .label {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(24px, -50%);
    color: $text_secondary;
    font-weight: 500;

    &_selected {
      transform: translate(24px, -25px);
    }

    &_required::after {
      content: '*';
      color: $text_alert;
    }
  }
}

.options__list {
  z-index: 999;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 257px;
  margin-top: 10px;
  overflow-y: auto;
  background: $bg_primary;
  border: 1px 0;
  border-radius: $borderRadiusM;
  box-shadow: 0px 0px 20px 0px rgba(40, 43, 48, 0.07);

  .list__item {
    padding: 16px 24px;
    color: $text_primary;
    display: flex;
    justify-content: space-between;
  }

  .list__item:hover {
    background-color: $text_secondary_buttons;
    color: $text_secondary;
  }

  .list__item:last-child {
    border-radius: 0 0 $borderRadiusM $borderRadiusM;
  }

  .list__item:first-child {
    border-radius: $borderRadiusM $borderRadiusM 0 0;
  }

  .selected {
    background-color: $text_secondary_buttons;
    color: $text_secondary;
  }
}

.options_list:hover {
  background: $bg_blocks;
}

.input_labeled {
  padding: 40px 56px 16px 24px;
}
