@import '../../shared/styles/index.scss';

.statementBackButton {
  margin-top: 16px;
  margin-bottom: 41px;
}

.statementHeader {
  width: 337.5px;
  height: 36px;
  color: $text_primary;
  line-height: map-get($line-height, L);
  word-wrap: break-word;
  margin: 0px 0px 16px 0px;
}

.statementContainer {
  width: 100%;
  padding: 40px 160px;
  margin-top: 17px;
  margin-bottom: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $borderRadiusL;
  background-color: $bg_blocks;
  gap: 16px;
}

.inputs-container {
  display: inline-flex;
  width: 100%;
  gap: 16px;

  .state-input-date {
    height: 72px;
    background-color: $bg_primary;
    width: 100%;
  }
}
.footer-statement {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .statement-back-btn {
    font-size: map-get($font-size, S);
    font-weight: map-get($font-weight, M);
    line-height: map-get($line-height, S);
    color: $text_action;
    display: inline-flex;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
