
.@{app-prefix}-filters {
  flex: 1;
  border-right: 1px solid var(--ant-border-color-base);

  &__content {
    padding: var(--wfm-padding-md);

  }
  &__actions {
    display: flex;
    gap: var(--wfm-margin-md);
    justify-content: flex-end;
    grid-column: 4;
    margin-bottom: var(--wfm-margin-md);
  }
}