.modal {
  width: 374px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px 29px;
  gap: 32px;
  background-color: white;
}
.titles {
  margin: 0px 10px;
}
.title {
  color: #2f80ed;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 10px;
}
.target-payment {
  background-color: #f3f4f8;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__title {
    color: #798796;
  }
}
.close-card-modal {
  width: 500px;
  background-color: white;
  height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  &__button {
    width: 380px;
    height: 56px;
  }
}
